*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background: #d1d5dc;
}


@media print {
  #app > * {
    display: none; 
  }
  #printable {
    display: block;
  }
}